[Unit]
Description=SGX enclave manager systemd service

[Service]
User=iudx
WorkingDirectory=/home/iudx/sgx-enclave-manager
ExecStart=/home/iudx/.env/enclaveManager/bin/gunicorn -b 0.0.0.0:4000 enclave-manager:app
Restart=always

[Install]
WantedBy=multi-user.target
